!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}

    - if data.page.title
      %title= data.page.title + " - Delima Shanti"
    - else
      %title Delima Shanti

    - if data.page.title
      %meta{:content => "#{data.page.title}, #{data.page.category} by Delima Shanti", :name => "description"}
    - else
      %meta{:content => "Delima Shanti, Journalism and Public Relations", :name => "description"}

    %meta{:content => "width=device-width", :name => "viewport"}
    
    = stylesheet_link_tag "normalize.css"
    = stylesheet_link_tag "all.css"
    %link(href='http://fonts.googleapis.com/css?family=Average|Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css')
    = javascript_include_tag "modernizr-2.5.3.js"
    = javascript_include_tag "css3-mediaqueries.js"
    - if build?
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-12765235-4']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

  :ruby
    classes = page_classes.dup
    if data.page.body_classes
      classes << " " << data.page.body_classes.dup
    end
  %body{class: classes}
    /[if lt IE 7] <p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
    %header
      = partial "navigation"
    
    %div.about
      - # render the about page inline, so we can just fade it in
      - about = sitemap.find_resource_by_path("/meta/about.html")
      = about.render(layout: false)

    %div{:role => "main", :class => "main"}
      = yield
    
    %footer
      / Designed & Built by Oliver Marriott, http://omarriott.com

    #js_css_data
    
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    :javascript
      window.jQuery || document.write('<script src="/javascripts/jquery-1.7.2.min.js"><\/script>')
    = javascript_include_tag "all.js"